@model KitapProjesiKardes.Models.Kitaplar

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Silmek İstediğinize Eminmisiniz?</h3>
<div>
    <h4>Kitaplar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DemirBasNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DemirBasNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KitapAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitapAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Konu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Konu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YerNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YerNO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
