@model KitapProjesiKardes.Models.Odunc

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Silmek istediğinize eminmisiniz?</h3>
<div>
    <h4>Odunc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kitaplar.KitapAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kitaplar.KitapAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ogrenciler.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ogrenciler.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OduncAlinmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OduncAlinmaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeslimEdilmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeslimEdilmeTarihi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
